<?xml version="1.0"?>
<clickhouse>
    <s3>
        <endpoint>http://minio:9000</endpoint>
        <access_key_id>minioadmin</access_key_id>
        <secret_access_key>minioadmin</secret_access_key>
        <region>us-east-1</region>
        <use_environment_credentials>false</use_environment_credentials>
        <use_insecure_imds_request>true</use_insecure_imds_request>
        <connect_timeout_ms>10000</connect_timeout_ms>
        <request_timeout_ms>5000</request_timeout_ms>
        <retry_attempts>3</retry_attempts>
        <retry_timeout_ms>1000</retry_timeout_ms>
        <max_single_read_retries>3</max_single_read_retries>
        <max_single_download_retries>3</max_single_download_retries>
        <max_connections>100</max_connections>
        <max_threads>8</max_threads>
        <list_object_keys_size>1000</list_object_keys_size>
        <path_style_access>true</path_style_access>
    </s3>
    
    <logger>
        <level>warning</level>
        <console>true</console>
    </logger>
    
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    
    <listen_host>0.0.0.0</listen_host>
    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>
    <max_concurrent_queries>100</max_concurrent_queries>
    <uncompressed_cache_size>8589934592</uncompressed_cache_size>
    <mark_cache_size>5368709120</mark_cache_size>
    
    <users_config>/etc/clickhouse-server/users.xml</users_config>
    <default_database>crypto</default_database>
</clickhouse> 